<dom-module id="giphy-search">

	<!-- Import the iron-ajax component -->
	<link rel="import" href="../vendor/iron-ajax/iron-ajax.html">

	<template>
		<iron-ajax auto
		    url="http://api.giphy.com/v1/gifs/search"
		    params='{{ironParams}}'
		    handle-as="json" last-response="{{kittens}}">
	    </iron-ajax>

	    <input type="search" value="{{searchString::input}}" /> <input type="button" value="Search" />

		<template is="dom-repeat" items="{{kittens.data}}">

			<img src="{{item.images.original.url}}" /> <br/>

		</template>
	</template>

	<script type="text/javascript" src="giphy-search.js"></script>

</dom-module>